---
import Base from "../layouts/Base.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home";
---

<Base pageTitle={pageTitle}>
  <h2>my awesome blog</h2>
  <Greeting messages={["hi", "hello", "howdy", "konichiwhat"]} />
  <Greeting
    client:load
    messages={["hik", "hellok", "howdyk", "konichiwhatk"]}
  />
</Base>
