---
import Burger from "./Burger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Menu from "./Menu.astro";
---

<header>
  <nav>
    <Burger />
    <ThemeIcon />
    <Menu />
  </nav>
</header>
